.profile-main {
  padding-top: 60px;
  color: $main-color;
  font-weight: 400;
  padding-left: 3px;
  padding-bottom: 94px;
}


.profile-main__title {
  height: 72px;
  line-height: 72px;
  font-size: 20px;
  font-weight: 700;
}

.profile-main__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-main__user {
  padding: 10px;
}

.profile-main__orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-main_table tbody > tr:hover {
  background-color: #ddd;
}

.profile-main_table th,
.profile-main_table td {
  border-bottom: 1px solid #ddd;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: right;
}

.profile-main_table th:nth-child(6) {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  color: $checkout-red-p;
}

.profile-main_table td:nth-child(6) {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
  color: $checkout-red-p;
}

.profile-main__p-light {
  font-size: 16px;
  color: $checkout-light-p;
  margin-top: 7px;
  margin-bottom: 14px;
}

.profile-main__p-red {
  font-size: 13px;
  color: $checkout-red-p;
  margin-top: 2px;
  margin-bottom: 10px;
}



//.register-main input[type="email"],
//.register-main input[type="password"] {
//  margin-top: 7px;
//  margin-bottom: 15px;
//  width: 390px;
//  height: 25px;
//  background-color: inherit;
//  outline: none;
//  @include border-solid-1($border-slider);
//}

//.register-main label {
//  font-size: 12px;
//  font-weight: 400;
//  margin-left: -1px;
//  padding-top: 2px;
//}
//
//.register-main label + span {
//  color: $checkout-red-p;
//  font-size: 17px;
//}

//.register-main button {
//  width: 180px;
//  height: 50px;
//  background-color: inherit;
//  @include border-solid-1($border-slider);
//  font-size: 14px;
//  font-weight: 700;
//  color: $checkout-button;
//  margin-top: 22px;
//  margin-bottom: 78px;
//  outline: none;
//}
//
//.register-main button + span {
//  position: relative;
//  font-weight: 400;
//  margin-left: 27px;
//  top: 5px;
//}


//div.checkout-steps__active {
//  display: flex;
//}

//.register-main__div form {
//  width: 515px;
//  margin-left: 35px;
//}
//
//.register-main__div form h3 {
//  font-size: 13px;
//  margin-top: 7px;
//}

