<section class="checkout-steps">
  <div>
    <div class="checkout-steps__title">
      <span>01. SHIPPING ADDRESS</span>
    </div>
    <div class="checkout-steps__div checkout-steps__active">
    {% include 'checkout-first.tmpl' %}
    </div>
  </div>
  
  <div>
    <div class="checkout-steps__title">
      <span>02. BILLING INFORMATION</span>
    </div>
    <div class="checkout-steps__div">
      <form class="checkout-steps__div_form-gr" action="">
        <h3>CHECK AS A GUEST OR REGISTER</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p>
        <input type="radio" id="user-guest2" name="user_type" value="gst"><span>CHECKOUT AS GUEST</span><br>
        <input type="radio" id="user-reg2" name="user_type" value="reg" checked><span>REGISTER</span><br><br>
        <h3>REGISTER AND SAVE TIME!</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p><br>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Fast and easy checkout</p>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Easy access to your order history and status</p>
        <button type="submit" value="">CONTINUE
        </button>
      </form>
      <form class="checkout-steps__div_form-alr" action="">
        <h3>ALREADY REGISTERED?</h3>
        <p class="checkout-steps__p-light">Please log in below</p>
        <label for="email">EMAIL ADDRESS</label><span>*</span><br>
        <input type="email" required><br>
        <label for="password">PASSWORD</label><span>*</span><br>
        <input type="password" required><br>
        <p class="checkout-steps__p-red">*Required Fields</p>
        <button type="submit" value="">LOG IN&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <span>Forgot Password?</span>
      </form>
    </div>
  </div>
  
  <div>
    <div class="checkout-steps__title">
      <span>03. SHIPPING INFORMATION</span>
    </div>
    <div class="checkout-steps__div">
      <form class="checkout-steps__div_form-gr" action="">
        <h3>CHECK AS A GUEST OR REGISTER</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p>
        <input type="radio" id="user-guest3" name="user_type" value="gst"><span>CHECKOUT AS GUEST</span><br>
        <input type="radio" id="user-reg3" name="user_type" value="reg" checked><span>REGISTER</span><br><br>
        <h3>REGISTER AND SAVE TIME!</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p><br>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Fast and easy checkout</p>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Easy access to your order history and status</p>
        <button type="submit" value="">CONTINUE
        </button>
      </form>
      <form class="checkout-steps__div_form-alr" action="">
        <h3>ALREADY REGISTERED?</h3>
        <p class="checkout-steps__p-light">Please log in below</p>
        <label for="email">EMAIL ADDRESS</label><span>*</span><br>
        <input type="email" required><br>
        <label for="password">PASSWORD</label><span>*</span><br>
        <input type="password" required><br>
        <p class="checkout-steps__p-red">*Required Fields</p>
        <button type="submit" value="">LOG IN&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <span>Forgot Password?</span>
      </form>
    </div>
  </div>
  
  <div>
    <div class="checkout-steps__title">
      <span>04. SHIPPING METHOD</span>
    </div>
    <div class="checkout-steps__div">
      <form class="checkout-steps__div_form-gr" action="">
        <h3>CHECK AS A GUEST OR REGISTER</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p>
        <input type="radio" id="user-guest4" name="user_type" value="gst"><span>CHECKOUT AS GUEST</span><br>
        <input type="radio" id="user-reg4" name="user_type" value="reg" checked><span>REGISTER</span><br><br>
        <h3>REGISTER AND SAVE TIME!</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p><br>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Fast and easy checkout</p>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Easy access to your order history and status</p>
        <button type="submit" value="">CONTINUE
        </button>
      </form>
      <form class="checkout-steps__div_form-alr" action="">
        <h3>ALREADY REGISTERED?</h3>
        <p class="checkout-steps__p-light">Please log in below</p>
        <label for="email">EMAIL ADDRESS</label><span>*</span><br>
        <input type="email" required><br>
        <label for="password">PASSWORD</label><span>*</span><br>
        <input type="password" required><br>
        <p class="checkout-steps__p-red">*Required Fields</p>
        <button type="submit" value="">LOG IN&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <span>Forgot Password?</span>
      </form>
    </div>
  </div>
  
  <div>
    <div class="checkout-steps__title">
      <span>05. PAYMENT METHOD</span>
    </div>
    <div class="checkout-steps__div">
      <form class="checkout-steps__div_form-gr" action="">
        <h3>CHECK AS A GUEST OR REGISTER</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p>
        <input type="radio" id="user-guest5" name="user_type" value="gst"><span>CHECKOUT AS GUEST</span><br>
        <input type="radio" id="user-reg5" name="user_type" value="reg" checked><span>REGISTER</span><br><br>
        <h3>REGISTER AND SAVE TIME!</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p><br>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Fast and easy checkout</p>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Easy access to your order history and status</p>
        <button type="submit" value="">CONTINUE
        </button>
      </form>
      <form class="checkout-steps__div_form-alr" action="">
        <h3>ALREADY REGISTERED?</h3>
        <p class="checkout-steps__p-light">Please log in below</p>
        <label for="email">EMAIL ADDRESS</label><span>*</span><br>
        <input type="email" required><br>
        <label for="password">PASSWORD</label><span>*</span><br>
        <input type="password" required><br>
        <p class="checkout-steps__p-red">*Required Fields</p>
        <button type="submit" value="">LOG IN&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <span>Forgot Password?</span>
      </form>
    </div>
  </div>
  
  <div>
    <div class="checkout-steps__title">
      <span>06. ORDER REVIEW</span>
    </div>
    <div class="checkout-steps__div">
      <form class="checkout-steps__div_form-gr" action="">
        <h3>CHECK AS A GUEST OR REGISTER</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p>
        <input type="radio" id="user-guest6" name="user_type" value="gst"><span>CHECKOUT AS GUEST</span><br>
        <input type="radio" id="user-reg6" name="user_type" value="reg" checked><span>REGISTER</span><br><br>
        <h3>REGISTER AND SAVE TIME!</h3>
        <p class="checkout-steps__p-light">Register with us for future convenience</p><br>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Fast and easy checkout</p>
        <p class="checkout-steps__p-light1"><i class="fa fa-angle-double-right"></i>Easy access to your order history and status</p>
        <button type="submit" value="">CONTINUE
        </button>
      </form>
      <form class="checkout-steps__div_form-alr" action="">
        <h3>ALREADY REGISTERED?</h3>
        <p class="checkout-steps__p-light">Please log in below</p>
        <label for="email">EMAIL ADDRESS</label><span>*</span><br>
        <input type="email" required><br>
        <label for="password">PASSWORD</label><span>*</span><br>
        <input type="password" required><br>
        <p class="checkout-steps__p-red">*Required Fields</p>
        <button type="submit" value="">LOG IN&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <span>Forgot Password?</span>
      </form>
    </div>
  </div>
  
</section>

<div class="clearfix"></div>