<div class="footer-menu__main">
  <div class="footer-menu__main_logo">
    <a href="/">
      <div class="footer-menu__main_logo-pic">
        <img src="/img/brand-logo.png" alt="Logo">
      </div>
      <div class="footer-menu__main_logo-text">
        <span>BRAN<span class="special-text_color">D</span></span>
      </div>
    </a>
  </div>
  <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Instrinsicly syndicate an expanded array of processes and cross-unit partnerships.<br><br>Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technoliges. Dynamically optimize.</p>
</div>